.relative {
  position: relative;
  top: 0px;
  left: 0px;
}
body {
  font-family: '微软雅黑';
}
.clearfix:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}
.clearfix {
  zoom: 1;
}
@font-face {
  font-family: 'font_card';
  src: url(../fonts/cardnum.ttf);
  font-weight: normal;
  font-style: normal;
}
/*.mytopbg{height:14.375rem; width:100%; background: url("../images/topbg.png") no-repeat; background-size: cover; }*/
/*********************************消息列表页面************************************/
.mytopbg {
  overflow: hidden;
  height: 6.96296296rem;
}
.mytopbg img {
  display: block;
  width: 16rem;
  position: relative;
}
.mytopbg .mytitle {
  color: #fff;
  height: 1.88148148rem;
  text-align: center;
  font-weight: normal;
  font-size: 0.71111111rem;
  line-height: 1.88148148rem;
  margin-bottom: 0.59259259rem;
}
.myInfo {
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
}
* + h2 {
  margin-top: 0px;
}
.myUl li {
  overflow: hidden;
}
.listiconText {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.38518519rem;
  /* margin-top:6/@rem;*/
}
.listImg {
  display: block;
  vertical-align: middle;
  margin: 0 auto;
}
.listTitle {
  display: block;
  font-size: 1.5rem;
  color: #333;
  margin-top: 1.5rem;
}
.am-list-news-default .am-list .am-list-thumb img {
  width: 46%;
  vertical-align: middle;
  margin: 0 auto;
}
.am-list-news-default .am-list .am-list-item-desced {
  padding-top: 0.59259259rem;
  padding-bottom: 0.59259259rem;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text {
  margin-top: 0.14814815rem;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text.listCon {
  color: #999;
  font-size: 0.47407407rem;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text.listTime {
  color: #333;
  position: absolute;
  bottom: 0.07407407rem;
  left: 0rem;
  font-size: 0.47407407rem;
}
.am-list-news-default .am-list .am-list-item-desced .msgListH .am-list-item-text.listTime {
  left: 0rem;
  color: #666;
}
.am-navbar .am-navbar-nav {
  height: 2.22222222rem;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f0f0f0;
}
.sectionList {
  margin-bottom: 2.22222222rem;
}
.navUl li.slt {
  background-color: #ec900c;
  height: 2.22222222rem;
  margin-top: 0.35555556rem;
}
.navBtn .allbg {
  display: block;
  width: 1.62962963rem;
  height: 1.48148148rem;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  margin-left: -0.81481481rem;
  top: 8%;
}
.navBtn .centerA .allbg {
  top: 22%;
}
.am-navbar-nav a {
  color: #666;
  /*margin-top:3px;*/
}
.am-navbar-nav .slt a {
  color: #fff;
}
.am-navbar-nav .selt a {
  color: #fff;
}
.am-navbar-nav a.centerA {
  z-index: 100;
  top: -0.32592593rem;
}
.am-navbar-nav a.centerA .centerImg {
  display: inline-block;
  margin-bottom: 0.08888889rem;
  margin-top: 0.2962963rem;
}
.am-navbar-nav a.centerA .am-navbar-label {
  margin-top: 0rem;
}
.am-navbar .am-navbar-nav {
  overflow: initial;
}
.centerBtn:before {
  display: inline-block;
  content: '';
  height: 2.44444444rem;
  width: 2.44444444rem;
  background-color: #f0f0f0;
  position: absolute;
  top: -0.44444444rem;
  left: 50%;
  margin-left: -1.22222222rem;
  border-radius: 1.48148148rem;
  z-index: -1;
}
.centerBtn:after {
  display: inline-block;
  content: '';
  height: 2.22222222rem;
  width: 2.22222222rem;
  background-color: #fff;
  position: absolute;
  top: -0.22222222rem;
  left: 50%;
  margin-left: -1.11111111rem;
  border-radius: 1.48148148rem;
  border: 1px solid #dadada;
}
.centerBtn.selt:after {
  display: inline-block;
  content: '';
  height: 2.22222222rem;
  width: 2.22222222rem;
  background-color: #ec900c;
  position: absolute;
  top: -0.22222222rem;
  left: 50%;
  margin-left: -1.11111111rem;
  border-radius: 1.48148148rem;
  border: 1px solid #dadada;
}
.msgListnew {
  position: absolute;
  top: 2.22222222rem;
  bottom: 2.37037037rem;
  left: 0;
  width: 100%;
}
.am-header {
  height: 2.177rem;
}
.am-header-default {
  overflow: hidden;
  background-color: #fff;
}
.am-header-default .topbgImg {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.am-header-title {
  z-index: 100;
}
h3.am-list-item-hd {
  font-size: 0.68148148rem;
}
/******************************我的页面**********************************/
.cardSatus {
  margin-left: 1.18518519rem;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-family: 微软雅黑;
  font-size: 0.53333333rem;
}
.cardSatus.special {
  margin-top: -0.14814815rem;
  margin-bottom: 0.14814815rem;
}
.cardSatus span,
.cardSatus label {
  color: #fff;
  font-weight: normal;
  font-size: 0.53333333rem;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
}
.bodycolor {
  color: #f3f3f3;
}
.sectionAngleIcon {
  display: inline-block;
  width: 0.35555556rem;
  margin-top: 0.14814815rem;
}
.sectionIcon {
  display: inline-block;
  height: 0.74074074rem;
  margin-top: -0.07407407rem;
  margin-right: 0.35555556rem;
  margin-left: 1.18518519rem;
}
.myList a em {
  color: #999;
  font-style: normal;
}
.sectionList {
  background-color: #f3f3f3;
}
.sectionList .am-list > li {
  height: 2.22222222rem;
  margin-top: 0.20740741rem;
  border-top: 1px solid transparent;
}
.bigSize {
  font-size: 0.88888889rem;
  font-weight: normal;
  font-style: normal;
}
/*******************************商户************************************/
.locationIcon {
  display: inline-block;
  height: 0.5037037rem;
  margin-top: -0.04444444rem;
  margin-right: 0.22222222rem;
  margin-left: 0.02962963rem;
}
.am-list-news-default .am-list .am-list-thumb img.storeImg {
  width: 4.14814815rem;
  height: 4.14814815rem;
}
.am-list-news-default .am-list-item-thumb-left .am-list-thumb.storeList {
  width: 4.17777778rem;
  max-height: 4.26666667rem;
  height: 4.26666667rem;
  margin-right: 0.37037037rem;
}
.am-list-news-default.storeListNew .am-list .am-list-item-desced .am-list-main {
  width: 10.22222222rem;
  max-height: 4.26666667rem;
  height: 4.26666667rem;
}
.am-list-news-default {
  margin: 0;
}
.storeListNew {
  margin-top: 0px;
}
.am-list-news-default.storeListNew .am-list .am-list-item-desced {
  padding-bottom: 0.6962963rem;
  padding-top: 0.44444444rem;
}
.storeListNew {
  position: absolute;
  top: 2.22222222rem;
  bottom: 2.37037037rem;
  left: 0;
  width: 100%;
  padding: 0 0.59259259rem;
}
.storeListNew .am-list > li {
  height: 5.27407407rem;
  border-top: 1px solid transparent;
  margin-bottom: 0px;
}
.storeList .am-list-item-hd {
  font-family: 微软雅黑;
  color: #333;
}
.am-panel > .am-list > li > a {
  padding: 0.74074074rem 0;
  padding-left: 0rem;
}
.am-navbar-nav a .am-navbar-label {
  display: block;
  height: 0.71111111rem;
  line-height: 0.71111111rem;
  font-size: 0.38518519rem;
  margin-top: 0.02962963rem;
  padding-top: 0;
}
.am-header-default .am-header-nav {
  height: 2.17777778rem;
  line-height: 2.17777778rem;
  font-size: 0.53333333rem;
}
.am-header-default .am-header-nav > a {
  color: #fff;
}
.msgListnew .am-list > li {
  height: 4.47407407rem;
  border-top: 1px solid transparent;
  margin-bottom: 0px;
}
.msgListH {
  height: 3.2rem;
  padding-right: 0;
}
.myList {
  padding-bottom: 0.20740741rem;
}
.myList a {
  color: #666;
  font-size: 16px;
}
.am-list.myList > li > a {
  height: 2.22222222rem;
  font-size: 0.59259259rem;
  line-height: 0.74074074rem;
}
.msgDetail img {
  display: block;
  height: 2.51851852rem;
  width: 2.51851852rem;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 0.74074074rem;
}
.msgDetail h3.am-list-item-hd {
  text-align: center;
  font-weight: 400;
  margin-top: 0.59259259rem;
  margin-bottom: 0;
}
.bottom0 {
  bottom: 0!important;
}
.msgDetail .page {
  display: inline-block;
  font-size: 0.47407407rem;
  line-height: 0.88888889rem;
  color: #999;
  padding: 0 1.18518519rem;
  margin-top: 0.59259259rem;
  margin-bottom: 5.45185185rem;
  font-weight: normal;
}
.timeBox {
  margin-left: 1.18518519rem;
}
.timeBox label {
  display: block;
  color: #666;
  font-size: 0.35555556rem;
  font-weight: normal;
}
.timeBox label span {
  color: #333!important;
  font-size: 0.35555556rem;
}
.am-with-fixed-header {
  padding-top: 2.17777778rem;
}
.am-header .am-header-title {
  height: 2.17777778rem;
  line-height: 2.17777778rem;
  font-weight: normal;
  font-size: 0.77037037rem;
}
.am-header-default .am-header-right .am-header-nav-title {
  font-size: 0.53333333rem;
  margin-right: 1.18518519rem;
  line-height: 2.17777778rem;
  width: 0.88888889rem;
  height: 0.88888889rem;
}
.am-header-default .am-header-left .am-header-nav-title {
  font-size: 0.53333333rem;
  margin-left: 0.59259259rem;
  line-height: 2.17777778rem;
  width: 0.88888889rem;
  height: 0.88888889rem;
}
.am-navbar {
  height: 2.22222222rem;
}
.am-navbar-nav a {
  display: inline-block;
  height: 2.22222222rem;
  line-height: 1.11111111rem;
  margin-top: 0;
}
.am-navbar-nav a img {
  width: 1.03703704rem;
  height: 1.03703704rem;
  margin: auto;
}
.am-navbar .am-navbar-nav li {
  z-index: 10;
}
.am-header .am-header-nav img {
  display: inline-block;
  width: 0.88888889rem;
  height: 0.88888889rem;
}
/****************************首页****************************/
.indexTop {
  height: 9.82222222rem;
  overflow: hidden;
}
.indexTop .innerImg {
  display: inline;
  height: 9.82222222rem;
  position: relative;
  z-index: 10;
}
.indexTop .cardImg {
  display: inline;
  height: 7.17037037rem;
  width: 11.58518519rem;
  margin: auto;
  position: absolute;
  top: 1.02222222rem;
  left: 2rem;
  z-index: 20;
}
.cardInfo {
  position: absolute;
  width: 10.51851852rem;
  top: 4.22222222rem;
  left: 2.93333333rem;
  color: #fff;
  z-index: 100;
}
.cardName {
  display: block;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  font-weight: bold;
  font-size: 0.53333333rem;
  color: #fff;
}
.cardNum {
  font-family: font_card;
  height: 1.92592593rem;
  line-height: 1.92592593rem;
  font-size: 1.48148148rem;
  display: block;
  font-style: italic;
}
.cardTime label {
  font-weight: normal!important;
}
.cardTime span {
  font-weight: normal!important;
}
.cardTime {
  font-size: 0.41481481rem;
  display: block;
  margin-right: 0.59259259rem;
  margin-top: -0.07407407rem;
  margin-bottom: 0;
  font-weight: normal;
}
.numType {
  display: inline-block;
  font-family: '微软雅黑';
  font-size: 1.77777778rem;
  font-weight: bolder;
  position: relative;
  top: -1.48148148rem;
  left: 1.18518519rem;
  margin-left: -0.47407407rem;
}
.bigNum {
  display: inline-block;
  font-family: font_card;
  font-size: 4.2962963rem;
  margin-top: 1.48148148rem;
}
.smallNum {
  display: inline-block;
  font-family: font_card;
  font-size: 1.48148148rem;
  margin-top: 1.48148148rem;
}
.cardMoney {
  height: 10.1037037rem;
  /*margin-top:100/@rem;*/
}
.bottomText {
  width: 100%;
  font-size: 0.41481481rem;
  position: absolute;
  bottom: 0.71111111rem;
  text-align: center;
  color: #ccc;
  z-index: 15;
}
.bdHidden {
  overflow: hidden;
}
.homebg {
  overflow: hidden;
  height: 28.44444444rem;
  background: none;
}
.homebg.test {
  background: none;
  position: relative;
  z-index: 10;
}
.logo {
  width: 3.11111111rem;
  height: 4.45925926rem;
  overflow: hidden;
  position: absolute;
  top: 5.71851852rem;
  left: 50%;
  margin-left: -1.55555556rem;
}
.logo img {
  display: inline-block;
  width: 3.11111111rem;
  height: 4.45925926rem;
}
.loginlogo {
  width: 3.11111111rem;
  height: 4.45925926rem;
  overflow: hidden;
  position: absolute;
  top: 4.23703704rem;
  left: 50%;
  margin-left: -1.55555556rem;
}
.loginlogo img {
  display: inline-block;
  width: 3.11111111rem;
  height: 4.45925926rem;
}
fieldset {
  margin: 0;
  padding: 0;
}
.inputCon {
  width: 11.18518519rem;
  margin: 0 auto;
  margin-top: 11.11111111rem;
}
.inputBox {
  width: 11.18518519rem;
  height: 1.95555556rem;
  border: 1px solid #c2c2c2;
  border-radius: 0.17777778rem;
  -webkit-border-radius: 0.17777778rem;
  -moz-border-radius: 0.17777778rem;
  background: #fff;
}
.am-form input[type=text].loginInput {
  width: 9.00740741rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #333;
  border: none;
  font-size: 0.53333333rem;
  background: transparent;
  padding: 0;
  margin: 0.44444444rem 0;
}
.am-form input[type=text].loginInput:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
  border: none;
  box-shadow: none;
}
.am-form input[type=password].loginInput {
  width: 9.00740741rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #333;
  border: none;
  font-size: 0.53333333rem;
  background: transparent;
  padding: 0;
  margin: 0.44444444rem 0;
}
.am-form input[type=password].loginInput:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
  border: none;
  box-shadow: none;
}
input:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
  border: none;
  box-shadow: none;
}
.userBg {
  display: inline-block;
  width: 2.04444444rem;
  height: 1.95555556rem;
}
.userBg img {
  display: block;
  width: 0.88888889rem;
  height: 0.88888889rem;
  margin: 0 auto;
  margin-top: 0.44444444rem;
}
.loginBtn {
  display: block;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  width: 11.18518519rem;
  margin: 0 auto;
  margin-top: 5.15555556rem;
  background: #ec900c;
  font-size: 0.59259259rem;
  text-align: center;
  color: #fff;
  border-radius: 0.17777778rem;
  -webkit-border-radius: 0.17777778rem;
  -moz-border-radius: 0.17777778rem;
}
.loginBtn.test {
  width: 12.75555556rem;
  margin-top: 5.15555556rem;
  margin-left: -0.8rem;
}
.loginBtn:hover {
  color: #fff;
}
.moreBtn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.62222222rem;
  color: #1c1617;
  position: fixed;
  bottom: 1.33333333rem;
  left: 0;
  z-index: 100;
}
.moreBtn.test {
  color: #606ee5;
  font-size: 0.47407407rem;
  text-decoration: underline;
}
.moreBtn:hover {
  text-decoration: underline;
}
.am-form-group {
  margin-bottom: 0;
}
/**************************************************input setting********************************************/
.settingUl {
  padding: 0.2962963rem 0.59259259rem;
  /*position: absolute; width:100%; bottom:150/@rem; top:150/@rem;*/
  overflow: auto;
  margin-bottom: 0;
}
.settingUl li {
  height: 2.19259259rem;
  line-height: 2.19259259rem;
  border-bottom: 1px solid #ccc;
  list-style: none;
}
fieldset {
  margin: 0;
  padding: 0;
}
.labelW {
  display: inline-block;
  height: 2.07407407rem;
  line-height: 2.07407407rem;
  width: 4.14814815rem;
  font-size: 0.53333333rem;
  text-align: right;
  margin-bottom: 0;
  font-family: '微软雅黑';
  font-weight: normal;
}
.am-form select {
  width: 10.51851852rem;
  color: #333;
  height: 0.88888889rem;
  line-height: 0.88888889rem;
  border: none;
  background: #fff;
  padding: 0;
  font-size: 0.53333333rem;
}
.am-form select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.am-form select option {
  width: 10.96296296rem;
  padding: 0;
  min-height: 0.88888889rem;
  height: 0.88888889rem;
  line-height: 0.88888889rem;
  font-size: 0.53333333rem;
  font-family: '微软雅黑';
}
.am-form .am-form input[type=number],
.am-form input[type=search],
.am-form input[type=text],
.am-form input[type=password],
.am-form input[type=datetime],
.am-form input[type=datetime-local],
.am-form input[type=date],
.am-form input[type=month],
.am-form input[type=time],
.am-form input[type=week],
.am-form input[type=email],
.am-form input[type=tel],
.am-form input[type=color],
.am-form select,
.am-form-field {
  width: 10.51851852rem;
  color: #333;
  height: 0.88888889rem;
  line-height: 0.88888889rem;
  border: none;
  font-size: 0.53333333rem;
  background: #fff;
  padding: 0;
  margin: 0.59259259rem 0.07407407rem;
}
.am-form .am-form input[type=number],
.am-form input[type=search],
.am-form input[type=text],
.am-form input[type=password],
.am-form input[type=datetime],
.am-form input[type=datetime-local],
.am-form input[type=date],
.am-form input[type=month],
.am-form input[type=time],
.am-form input[type=week],
.am-form input[type=email],
.am-form input[type=tel],
.am-form input[type=color],
.am-form select,
.am-form-field:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}
.questionText {
  display: inline-block;
  width: 10.96296296rem;
  font-size: 0.53333333rem;
  height: 0.88888889rem;
  line-height: 0.88888889rem;
  margin: 0.59259259rem 0.07407407rem;
}
.makeSureBtn {
  width: 100%;
  background-color: #ec900c;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  color: #fff;
  text-align: center;
  font-size: 0.53333333rem;
  position: fixed;
  bottom: 0;
  left: 0;
}
.makeSureBtn.am-btn {
  line-height: 0;
}
.makeSureBtn:hover {
  color: #fff;
}
.warnBox {
  position: absolute;
  bottom: 0;
  left: 2.2962963rem;
}
.warnBox img {
  display: inline-block;
  width: 0.59259259rem;
  margin-right: 0.17777778rem;
  margin-top: 0.11851852rem;
}
.msgWarn {
  font-size: 0.38518519rem;
  color: #e59a17;
  line-height: 0.74074074rem;
}
/***********************************卡片操作*******************************/
.cardOperate {
  height: 3.52592593rem;
  line-height: 3.52592593rem;
  border-bottom: 1px solid #c8c7cc;
}
.cardOperate label {
  display: inline-block;
  width: 3.61481481rem;
  text-align: right;
  margin-right: 1.03703704rem;
  height: 3.52592593rem;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 3.52592593rem;
  color: #999;
  font-size: 0.47407407rem;
}
.cardOperate span {
  display: inline-block;
  height: 3.52592593rem;
  line-height: 3.52592593rem;
  font-size: 0.68148148rem;
  color: #333;
}
.cardStatus {
  height: 1.18518519rem;
  line-height: 1.18518519rem;
}
.cardStatus.yesboder {
  border-bottom: 1px solid #c8c7cc;
}
.cardStatus label {
  display: inline-block;
  width: 4.35555556rem;
  text-align: right;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-weight: normal;
  margin-bottom: 0;
  color: #999;
  font-size: 0.53333333rem;
}
.cardStatus span {
  display: inline-block;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-size: 0.53333333rem;
  color: #333;
}
.cardStatus.yesboder label {
  display: inline-block;
  width: 3.61481481rem;
}
.bggrey {
  height: 0.2962963rem;
  border: 1px solid #c8c7cc;
  background-color: #f3f3f3;
}
.frezenCard {
  display: block;
  width: 100%;
  text-align: center;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  color: #333;
  font-size: 0.59259259rem;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ccc;
}
/********************************我的权限********************************/
.authorityBox {
  padding: 1.18518519rem 1.18518519rem 0 1.18518519rem;
}
.marginR60 {
  margin-right: 0.88888889rem;
}
.marginT62 {
  margin-top: 0.91851852rem;
}
.authorityBg {
  width: 6.37037037rem;
  height: 6.51851852rem;
}
.authorityBg img {
  display: inline-block;
  width: 6.37037037rem;
  height: 5.45185185rem;
}
.authorityBg > div {
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 0.53333333rem;
  margin-top: 0.2962963rem;
}
/*****************************卡充值************************************/
.refillMoney {
  height: 2.22222222rem;
  line-height: 2.22222222rem;
}
.refillMoney label {
  display: inline-block;
  width: 4.26666667rem;
  text-align: right;
  margin-right: 0.2962963rem;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  font-weight: normal;
  margin-bottom: 0;
  color: #333;
  font-size: 0.53333333rem;
}
.refillMoney input {
  width: 11.11111111rem;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  font-size: 1.18518519rem;
  color: #333;
  border: none;
  background: none;
}
.cardOperate.noborder {
  border-bottom: 0px solid #ddd;
}
.refillUl .refillList {
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  border-bottom: 1px solid #c8c7cc;
  list-style: none;
}
.refillIcon {
  display: inline-block;
  width: 1.18518519rem;
  height: 1.18518519rem;
  margin-left: 1.71851852rem;
  margin-top: 0.51851852rem;
}
.refillIcon img {
  display: block;
  width: 1.18518519rem;
  height: 1.18518519rem;
}
.refillText {
  display: inline-block;
  font-size: 0.53333333rem;
  line-height: 2.22222222rem;
  color: #333;
  margin-left: 0.44444444rem;
}
.am-checkbox,
.am-radio {
  display: inline-block;
  width: 0.59259259rem;
  height: 0.59259259rem;
  min-height: 0.59259259rem;
  margin-bottom: 0;
  margin-right: 1.18518519rem;
}
.am-radio .am-icon-checked:before,
.am-radio-inline .am-icon-checked:before {
  width: 0.59259259rem;
  height: 0.59259259rem;
  margin-top: 0.2962963rem;
  background: url("../images/radioslt.png") no-repeat;
  background-size: cover;
  content: '';
}
.am-radio .am-icon-unchecked:before,
.am-radio-inline .am-icon-unchecked:before {
  width: 0.59259259rem;
  height: 0.59259259rem;
  margin-top: 0.2962963rem;
  background: url("../images/radio.png") no-repeat;
  background-size: cover;
  content: '';
}
/*****************************新建消息************************************/
.marginT95 {
  margin-top: 1.40740741rem;
}
.settingUlN.nobottom {
  padding: 0.2962963rem 0.59259259rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.settingUlN li {
  height: 2.19259259rem;
  line-height: 2.19259259rem;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.settingUlN li.noborder {
  border-bottom: 0px solid #ddd;
}
.am-form .msgTextarea {
  display: block;
  width: 14.63703704rem;
  height: 10.84444444rem;
  color: #333;
  font-size: 0.38518519rem;
  line-height: 0.38518519rem;
  padding: 0.22222222rem 0.07407407rem;
  margin-top: 0.44444444rem;
  margin-left: 0.66666667rem;
  border: 1px solid #ddd;
  resize: none;
}
.specialli {
  margin-bottom: 2.96296296rem;
}
.specialli .labelW {
  display: block;
}
.specialli .textarea {
  display: block;
}
/***********************************账单*******************************************/
.am-nav-justify > li {
  height: 1.77777778rem;
  font-size: 0.56296296rem;
}
.am-nav-tabs.am-nav-justify > li > a {
  height: 1.77777778rem;
  line-height: 1.77777778rem;
  padding: 0;
  color: #ec900c;
  font-size: 0.56296296rem;
  border: none;
  border-bottom: 0.11851852rem solid transparent;
  color: #666666;
}
.am-nav-tabs.am-nav-justify > .am-active > a,
.am-nav-tabs.am-nav-justify > .am-active > a:focus,
.am-nav-tabs.am-nav-justify > .am-active > a:hover {
  height: 1.77777778rem;
  line-height: 1.77777778rem;
  padding: 0;
  border: none;
  border-bottom: 0.11851852rem solid #ec900c;
  color: #ec900c;
}
.am-tabs-bd .am-tab-panel.billCon {
  background-color: #f1f1f1;
  padding: 0.2962963rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 0;
}
.billList {
  width: 15.37777778rem;
  height: 5.3037037rem;
  border: 1px solid #cccccc;
  margin-bottom: 0.2962963rem;
  background-color: #fff;
}
.billTitle {
  height: 1.48148148rem;
}
.billTitle .titleLeft {
  height: 1.48148148rem;
  line-height: 1.7037037rem;
  font-size: 0.68148148rem;
  color: #333;
  margin-left: 0.59259259rem;
}
.billTitle .titleRight {
  height: 1.48148148rem;
  line-height: 1.92592593rem;
  font-size: 0.47407407rem;
  color: #666;
  margin-right: 0.47407407rem;
}
.billMoneyTitle {
  width: 100%;
  text-align: center;
  height: 0.74074074rem;
  line-height: 0.74074074rem;
  color: #999;
  font-size: 0.53333333rem;
}
.billMoney {
  font-size: 1.18518519rem;
  color: #c20808;
  height: 1.48148148rem;
  line-height: 1.48148148rem;
  text-align: center;
}
.billMoney.green {
  color: #189100;
}
.billMoney em {
  font-size: 0.53333333rem;
  color: #999;
  font-style: normal;
}
.billType label {
  display: inline-block;
  width: 3.33333333rem;
  text-align: right;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-weight: normal;
  margin-bottom: 0;
  color: #999;
  font-size: 0.53333333rem;
}
.billType span {
  display: inline-block;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-size: 0.53333333rem;
  color: #333;
}
/************************************申请列表***********************************/
.examineTitle {
  height: 1.33333333rem;
}
.examineTitle .titleLeft {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-size: 0.53333333rem;
  color: #333;
  margin-left: 0.59259259rem;
}
.examineTitle .titleRight {
  height: 1.33333333rem;
  line-height: 1.62962963rem;
  font-size: 0.47407407rem;
  color: #666;
  margin-right: 0.47407407rem;
}
.examineList {
  width: 15.40740741rem;
  height: 2.66666667rem;
  border: 1px solid #cccccc;
  border-left: 0.08888889rem solid #189100;
  margin-bottom: 0.2962963rem;
  background-color: #fff;
}
.examineList.yellow {
  border-left: 0.08888889rem solid #ec900c;
}
.examineType label {
  display: inline-block;
  margin-left: 0.59259259rem;
  text-align: right;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-weight: normal;
  margin-bottom: 0;
  color: #999;
  font-size: 0.47407407rem;
}
.examineType .numberColor {
  display: inline-block;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-weight: normal;
  color: #2054c9;
  font-size: 0.47407407rem;
}
.examineList .examineStaus {
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-weight: normal;
  color: #189100;
  font-size: 0.53333333rem;
  margin-right: 0.47407407rem;
}
.examineList.yellow .examineStaus {
  height: 1.18518519rem;
  line-height: 1.18518519rem;
  font-weight: normal;
  color: #ec900c;
  font-size: 0.53333333rem;
  margin-right: 0.47407407rem;
}
.am-tabs-bd.noborder {
  border-bottom: 0px solid #ddd;
}
.htmlGrey {
  background-color: #f1f1f1;
}
.marginB30 {
  margin-bottom: 0.44444444rem;
}
.nextStep {
  display: block;
  width: 100%;
  background-color: #ec900c;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  color: #fff;
  text-align: center;
  font-size: 0.53333333rem;
  margin-top: 5.92592593rem;
}
.nextStep:hover {
  color: #fff;
}
.logoutBtn {
  display: block;
  width: 100%;
  text-align: center;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  color: #333;
  font-size: 0.59259259rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.11111111rem;
}
.am-modal-dialog {
  width: 8.88888889rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.am-modal-bd {
  padding: 0.59259259rem;
  font-size: 0.53333333rem;
  line-height: 0.88888889rem;
  color: #ccc;
}
.am-with-fixed-navbar {
  padding-bottom: 2.37037037rem;
}
body {
  position: static;
  width: 100%;
  height: 100%;
}
#wrapper {
  position: absolute;
  top: 2.22222222rem;
  bottom: 2.22222222rem;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
#wrapper.wraper {
  position: absolute;
  top: 4rem;
  background-color: #f1f1f1;
}
#wrapper.morehigh {
  position: absolute;
  top: 4rem;
  bottom: 0.74074074rem;
  background-color: #f1f1f1;
}
#wrapper.myapp {
  top: 0;
}
.am-nav-tabs.am-nav-justify {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.bottomimg {
  width: 100%;
  height: 9.73333333rem;
  position: fixed;
  bottom: 0;
  left: 0;
}
.bottomimg img {
  display: block;
  width: 100%;
  height: 9.73333333rem;
}
.upBox {
  width: 100%;
  height: 12.08888889rem;
  position: absolute;
  bottom: -12.08888889rem;
  left: 0;
  z-index: 200;
  background-color: #fff;
}
.upshadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 199;
}
.sureList label {
  display: inline-block;
  width: 5.11111111rem;
  height: 1.45185185rem;
  margin-bottom: 0;
  text-align: right;
  line-height: 1.45185185rem;
  font-size: 0.53333333rem;
  color: #999;
  font-weight: normal;
}
.sureList span {
  display: inline-block;
  margin-left: 0.74074074rem;
  width: 10.07407407rem;
  height: 1.45185185rem;
  line-height: 1.45185185rem;
  font-size: 0.53333333rem;
  color: #333;
}
.marginT95 {
  margin-top: 1.40740741rem;
}
.bottomBtn {
  position: absolute;
  bottom: 0px;
  height: 2.25185185rem;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.bottomBtn a {
  display: inline-block;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  text-align: center;
  font-size: 0.59259259rem;
}
.bottomBtn a.agreeBtn {
  width: 8rem;
  background-color: #0c85ec;
  color: #fff;
  border-right: 1px solid #d5d5d5;
}
.bottomBtn a.refuseBtn {
  width: 8rem;
  background-color: #fff;
  color: #333;
}
.hide {
  display: none;
}
.refuseTextarea {
  display: block;
  width: 14.63703704rem;
  height: 6.77037037rem;
  color: #333;
  font-size: 0.38518519rem;
  line-height: 0.38518519rem;
  padding: 0.22222222rem 0.07407407rem;
  margin-top: 0.44444444rem;
  margin-left: 0.66666667rem;
  border: 1px solid #ccc;
  resize: none;
}
.paddingT30 {
  padding-top: 0.44444444rem;
}
.sureBtn {
  width: 16rem;
  background-color: #0c85ec;
  color: #fff;
}
.sureBtn:hover {
  color: #fff;
}
.sureBtn:focus {
  color: #fff;
}
.examineCon {
  height: 12.08888889rem;
}
.paddingT95 {
  padding-top: 1.40740741rem;
}
@media only screen and (max-width: 320px) {
  .am-navbar-nav a .am-navbar-label,
  .msgWarn,
  .listiconText {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
  }
  .am-navbar-nav a.centerA .centerImg {
    margin-bottom: 0.05925926rem;
  }
  .warnBox {
    left: 2rem;
  }
  .loginBtn.test {
    margin-top: 2.96296296rem;
  }
}
